/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #000;
    scroll-behavior: smooth;
}




/*######## ELENCHI ########*/

ul {
    list-style: none;
}




/*######## CLASSI COMUNI ########*/

.v-center {
    vertical-align: middle;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    font-size: 0;
}

.jstf {
    text-align: justify;
}

.jstf::after {
    content: "";
    display: inline-block;
    width: 100%;
}



/*######## TIPOGRAFIA ########*/

h1 {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}




/*######## HEADER ########*/

header {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    padding: 0 1rem;
    width: 100%;
    z-index: 10;
    font-size: 0;
    background-color: #fff;
}

header nav a{
    padding: 1.2rem 0;
    display: inline-block;
    color: #000;
    border-bottom: 3px #fff solid;
}

header .logo {
    padding: 0;
    font-size: 0;
}

header nav a:hover:not(.btn, .logo) {
    text-decoration: none;
    border-bottom: 3px #222 solid;
}

header nav, header nav ul, header nav li {
    display: inline-block;
}

header nav li {
    margin-right: 2rem;
    font-size: 1rem;
    vertical-align: middle;
}

header .btn {
    font-size: 0.9rem;
}



/*######## PULSANTI ########*/

.btn {
    padding: 0.3rem 1rem;
}

.btn:hover {
    filter: brightness(120%);
    text-decoration: none;
}

.btn-blue {
    background-color: #0061FF;
    color: #fff;
}